<!--templates/registration/auth_base.html-->
<!doctype  html>
<html  lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>세종국제고</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
</head>
<br><br><br>
<body>
  <div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-10">
      <h1  class="text-center">세종국제고 LMS</h1>
      {% block content %}

      {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>