<!--templates/registration/password_reset_form.html-->
{% extends "registration/auth_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col order-last">
            <div class="text-right">
              <a class="btn btn-primary" href="/" role="button"> 로그인으로 이동 </a>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">비밀번호 초기화</h4>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary btn-block">초기화</button>

        </form>
    </div>
</div>
{% endblock %}