<!--templates/home.html-->
{% extends 'base.html' %}
{% block content %}

<font color="blue"> <b>
    <h7>&lang; 출석부 사용 안내 &rang;</h7> <br><br>
    <h7>&clubs; (1학년) 아고라1: 1-3 앞 아고라 / 아고라2: 교무실 옆 아고라 </h7> <br><br>
    <h7>&clubs; (2학년) 아고라1: 교무실 옆 아고라 / 아고라2: 2-3 교실 앞 아고라 </h7> <br><br>
    <h7>&clubs; (3학년) 아고라1: 아고라(3F) / 아고라2: 아고라(4F) </h7> <br><br>
    <h7>&clubs; 방과후, 활짝피다 등의 정규수업 외의 수업은 모두 방과후로 등록합니다.</h7> <br><br>
    <h7>&clubs; 모학실, 아고라, 지계 등 인원 제한이 있는 실 사용 시 교무실 앞 칠판의 신청서를 작성한 후 시스템에 등록합니다.</h7> <br><br>
    <h7>&clubs; 감독선생님이 확인한 후에는 학습장소 변경이 불가능합니다.</h7> <br><br>
    <h7>&clubs; 기타로 등록할 시 해당사항을 반드시 감독선생님께 직접 말씀드리도록 합니다.</h7> <br><br>
</b></font>

{% endblock %}
