<!--templates/attendance/book.html-->
{% extends 'base.html' %}
{% block content %}
<div class="badge bg-success text-wrap" style="width: 8rem;">출석부 관리</div>
<div class="badge bg-success text-wrap" style="width: 11rem;">Today {{today}}</div> <br> <br>
<form action="{% url 'book' %}" method="POST">
  {% csrf_token %}

  <div class="container">

    <div class="row g-2 align-items-center">

      <div class="col-auto">
        <label for="grade" class="col-form-label">학년:</label>
      </div>

      <div class="col-auto">
        <select class="form-control" id="grade" name="grade">
          <option value="1" {% if current_grade == 1 %} selected {% endif %}>1</option>
          <option value="2" {% if current_grade == 2 %} selected {% endif %}>2</option>
          <option value="3" {% if current_grade == 3 %} selected {% endif %}>3</option>
        </select>
      </div>

      <div class="col-auto">
        <label for="cls" class="col-form-label">반:</label>
      </div>

      <div class="col-auto">
        <select class="form-control" id="cls" name="cls">
          {% for el in cls_qs %}
            <option value="{{el.pk}}" {% if el.pk == current_cls %} selected {% endif %}>{{el.cls}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-auto">
        <label for="period" class="col-form-label">교시:</label>
      </div>

      <div class="col-auto">
        <select class="form-control" id="period" name="period">
          {% for el in period_qs %}
            <option value="{{el.pk}}" {% if el.pk == current_period1 %} selected {% endif %}>{{el.period}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-sm">조회</button>
      </div>

    </div>
  </div>

</form>
<br>
<form action="{% url 'book_save' %}" method="POST">
  {% csrf_token %}
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-success">
        <tr align='center'>
          <th scope="col">학번</th>
          <th scope="col">이름</th>
          <th scope="col">{{ current_period1 }}교시</th>
          <th scope="col">확인</th>
          <th scope="col">{{ current_period2 }} 교시</th>
          <th scope="col">확인</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for el in attendance_qs %}
            {% if el.period.period == current_period1 %}
            <td align='center'>{{ el.user.user_code }}</td>
            <td align='center'>{{ el.user.name }}</td>
            <td align='center'>{{ el.place.place }}</td>
            <td align='center'>
              <div>
                <input class="form-check-input" type="checkbox" id="check1" name="check1" {% if el.check == 1 %} checked {% endif %} value="{{el.id}}" aria-label="...">
              </div>
            </td>
            {% elif el.period.period == current_period2 %}
            <td align='center'>{{ el.place.place }}</td>
            <td align='center'>
              <div>
                <input class="form-check-input" type="checkbox" id="check2" name="check2" {% if el.check == 1 %} checked {% endif %} value="{{el.id}}" aria-label="...">
              </div>
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <input type="hidden" name="hidden_grade" value="{{ current_grade }}">
    <input type="hidden" name="hidden_cls" value="{{ current_cls }}">
    <input type="hidden" name="hidden_period" value="{{ current_period1 }}">
    <button type="submit" class="btn btn-outline-primary">저장</button>
  </div>
</form>

{% endblock %}