<!--templates/attendance/book_register.html-->
{% extends 'base.html' %}
{% block content %}
<div class="badge bg-success text-wrap" style="width: 8rem;">자습출석부</div>
<div class="badge bg-success text-wrap" style="width: 11rem;">Today {{today}}</div> <br> <br>

<form action="{% url 'book_register_save' %}" method="POST">
  {% csrf_token %}

    {% if check == 1 %}
        <div class="alert alert-danger" role="alert">
            {{current_period}}교시 신청이 마감되었습니다. 감독선생님께 문의하세요.
        </div>
    {% elif check == 2 %}
        <div class="alert alert-danger" role="alert">
            오늘 출석부가 생성되어 있지 않습니다. 관리자에게 문의하세요.
        </div>
    {% endif %}

  <div class="container">

      <div class="row g-2 align-items-center">

          <div class="col-auto">
            <label for="period" class="col-form-label">교시:</label>
          </div>

          <div class="col-auto">
              <select class="form-select-padding-x-sm" id="period" name="period">
                {% for el in period_qs %}
                  <option value="{{el.pk}}" {% if el.pk == current_period %} selected {% endif %}>{{el.period}}</option>
                {% endfor %}
              </select>
          </div>

          <div class="col-auto">
            <label for="place" class="col-form-label"> 학습장소:</label>
          </div>

          <div class="col-auto">
              <select class="form-select-padding-x-sm" id="place" name="place">
                {% for el in place_qs %}
                  <option value="{{el.pk}}" {% if el.pk == current_place %} selected {% endif %}>{{el.place}}</option>
                {% endfor %}
              </select>
          </div>

          <div class="col-auto">
            &nbsp <button type="submit" class="btn btn-primary btn-sm">신청</button>
          </div>

      </div>

  </div>

</form>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-success">
      <tr align='center'>
        <th scope="col">교시</th>
        <th scope="col">장소</th>
        <th scope="col">확인</th>
      </tr>
    </thead>
    <tbody>
     {% for el in attendance_qs %}
      <tr>
          <td align='center'>{{ el.period.period }}</td>
          <td align='center'>{{ el.place.place }}</td>
          {% if el.check == True %}
          <td align='center'><font color="blue"><b>&check;</b></font></td>
          {% else %}
          <td align='center'></td>
          {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<font color="blue"> <b>
    <h7>&lang; 출석부 사용 안내 &rang;</h7> <br><br>
    <h7>&clubs; 방과후, 활짝피다 등의 정규수업 외의 수업은 모두 방과후로 등록합니다.</h7> <br><br>
    <h7>&clubs; 감독선생님이 확인한 후에는 학습장소 변경이 불가능합니다.</h7> <br><br>
    <h7>&clubs; 기타로 등록할 시 해당사항을 반드시 감독선생님께 직접 말씀드리도록 합니다.</h7> <br><br>
</b></font>

{% endblock %}